@import '../../style/variables';

.page-container {
  width: 1120px;
  padding: 20px;
  margin: auto;
  background-color: $bg-gray;

  .section-title {
    font-size: $section-title-font-size;
  }

  .all-students-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .student {
      width: 100px;
      padding: 10px;
      margin: 10px;
      text-align: center;
      background-color: $light-gray;
    }

    .add-student {
      background: none;
      border: 1px solid black;
    }
  }
}
