@import '../../style/variables';

.page-container {
  position: relative;
  width: 1120px;
  padding: 20px;
  margin: auto;
  background-color: $bg-gray;

  .section-title {
    font-size: $section-title-font-size;
  }

  .group-students {
    position: absolute;
    right: 20px;
    top: 40px;
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: $primary-color;
    color: white;
    border: none;
  }

  .add-student {
    background: none;
    border: 1px solid black;
  }
}
