@import '../../style/variables';

.page-container {
  width: 1120px;
  padding: 20px;
  margin: auto;
  background-color: $bg-gray;

  .section-title {
    font-size: $section-title-font-size;
  }

  .add-student {
    background: none;
    border: 1px solid black;
  }
}
